<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
   <nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container">
 <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">

<% if customer_signed_in? %>
 <li class="nav-item">
  <%= link_to public_customer_path(current_customer.id), class: 'nav-link text-dark' do %>
   <button class="btn btn-md btn-light" type="submit">
    マイページ
   </button>
  <% end %>
 </li>

 <li class="nav-item">
  <%= link_to public_items_path, class: 'nav-link text-dark' do %>
   <button class="btn btn-md btn-light" type="submit">
    商品一覧
   </button>
  <% end %>
 </li>
 <li class="nav-item">
  <%= link_to public_cart_items_path, class: 'nav-link text-dark' do %>
   <button class="btn btn-md btn-light" type="submit">
    カート
   </button>
  <% end %>
 </li>
 <li class="nav-item">
  <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
   <button class="btn btn-md btn-light" type="submit">
     ログアウト
   </button>
  <% end %>
 </li>
 <% end %>
 <% unless customer_signed_in? %>
  <li class="nav-item">
  <%= link_to about_path, class: 'nav-link text-dark' do %>
  <button class="btn btn-md btn-light" type="submit">
  About
  </button>
  <% end %>
 </li>
 <li class="nav-item">
  <%= link_to public_items_path, class: 'nav-link text-dark' do %>
  <button class="btn btn-md btn-light" type="submit">
  商品一覧
  </button>
  <% end %>
 </li>
 <li class="nav-item">
  <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
  <button class="btn btn-md btn-light" type="submit">
  新規登録
  </button>
  <% end %>
 </li>
 <li class="nav-item">
  <%= link_to new_customer_session_path,class: 'nav-link text-dark' do %>
  <button class="btn btn-md btn-light" type="submit">
   ログイン
  </button>
  <% end %>
 </li>
 <% end %>



</ul>
</div>
</div>
</nav>

    <%= yield %>
  </body>
</html>